<!DOCTYPE html>
<html>
  <head>
    <title>Delete a city</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class= "container">
      <p>You deleted all your trips</p>
     <a href='/places/new'>Add another City</a>
     <a href ='/'>Back to home</a>
    </div>
  </body>
</html>
