<!DOCTYPE html>
<html>
  <head>
    <title>Add a city</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class= "container">
      <form action="/places" method="post">
      <label for= "cityName">Add a new City</label>
      <input id = 'cityName' name="cityName" type="text">
      <button type='submit'>Submit</button>
      </form>

    </div>
  </body>
</html>
