<!DOCTYPE html>
<html>
  <head>
    <title>Show my cities</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class= "container">
    <h2>@Model.CityName</h2>

    <a href='/places/new'>Add another City</a>
    <a href='/places'>View all Cities</a>
    </div>
  </body>
</html>
